<h1>Sign Up</h1>
<h2>Please enter a Username and Password below to create your account.</h2>
<p><%= @error %></p>
<form action="/signup" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Sign Up">
</form>