<h1>Welcome to Disney FieldNotes.</h1>
<h3>A Place for DisNerds to take notes and share info on their favorite attractions! </h3>
<div><p>New Users please click sign up to create an account.</p></div>
<div><a href="/signup">SIGN UP</a>
</div>
<div><p>Returning users please click log in.</p></div>
<div><a href="/login">LOG IN</a></div>