<h1>Attractions</h1>
<a href="/attractions/new">Add an Attraction</a>
<% @attractions.each do |attraction| %>
<h2><a href="/attractions/<%= attraction.id %>"><%= attraction.name %></a></h2>
<p><%= attraction.notes %></p>
<img src="<%= attraction.photo %>" alt ="attraction">
<% end %>
