<h1>Create an Attraction</h1>
<p><%= @error %></p>
<form action="/attractions" method="post">
    <label>Name</label>
    <input type="text" name="name">
    <label>Park</label>
    <input type="text" name="park">
    <label>Notes</label>
    <textarea type="textarea" name="notes"></textarea>
    <label>Photo URL</label>
    <input type="text" name="photo">
    <button type="submit">Add Attraction</button>

</form>
